body{
    background-image: url("https://static1.squarespace.com/static/546406e3e4b024e8934b93cb/t/54a7897de4b04f1bf4c998ed/1420265854111/background.png?format=1500w");
    font-family: 'Montserrat';
    font-size: 50px;
    text-align: center;
    color: white;
}